#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.pokemon-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.pokemon-types {
  display: flex;
  gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon-types li {
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
}


.pokemon-types li {
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Define background colors for specific types */
.pokemon-types.fire li {
  background-color: orange;
}

.pokemon-types.water li {
  background-color: blue;
}

.pokemon-types.grass li {
  background-color: green;
}


.pokemon-types.bug li {
  background-color: green;
}

.pokemon-types.normal li {
  background-color: gray;
}


.pokemon-types.flying li {
  background-color: lightblue;
}
